services:
  - type: web
    name: telegram-putin-bot
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python app.py
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: GROK_TOKEN
        sync: false
